<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Собери коллекцию покемонов</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
<header>
    <div class="container">
        <nav class="menu">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li class="nav-line"></li>
                <li><a href="pokedex.html">Покедекс</a></li>
                <li><img src="../static/img/pokeball.png" alt=""></li>
                <li><a href="collection.html">Коллекции</a></li>
                <li class="nav-line"></li>
                <li><a href="/">Войти</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="container">
        <h1>Пикачу</h1>
        <div class="pokemon-card">
            <div class="pokemon-info">
                <div>
                    <img src="../static/img/pikachu.png" alt="">
                </div>
                <div class="service-button">
                    <span class="bg-pokeball"></span>
                    <span class="bg-heart"></span>
                    <span class="bg-arrows"></span>
                </div>
            </div>
            <div class="description">
                <p>Всякий раз, когда Пикачу видит что-то новое, он просто разрывается от энергии. Если Вы пойдете следом
                    за Пикачу, то можете увидеть обугленные ягоды или листья.</p>
                <table>
                    <tr>
                        <td>Рост</td>
                        <td>0.4 м</td>
                    </tr>
                    <tr>
                        <td>Вес</td>
                        <td>6.0 кг</td>
                    </tr>
                    <tr>
                        <td>Здоровье</td>
                        <td>45</td>
                    </tr>
                    <tr>
                        <td>Атака</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <td>Скорость</td>
                        <td>35</td>
                    </tr>
                </table>
                <div>
                    <div>Тип</div>
                    <span class="electric pokemon-type">Электричество</span>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="container footer">
    <div>Верстка by Lynx</div>
    <div>Код by Cat</div>
</footer>
</body>
</html>