<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Собери коллекцию покемонов</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
<header>
    <div class="container">
        <nav class="menu">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li class="nav-line"></li>
                <li><a href="pokedex.html">Покедекс</a></li>
                <li><img src="../static/img/pokeball.png" alt=""></li>
                <li><a href="collection.html">Коллекции</a></li>
                <li class="nav-line"></li>
                <li><a href="/">Войти</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="container">
        <div class="search-wrap">
            <input type='search' placeholder='Поиск'>
            <div class='search-button'><i class="fas fa-search"></i></div>
        </div>
        <div class="pokedex">
            <aside class="filter-column">
                <h3>Фильтр</h3>
                <div class="filter-type">
                    <div class="filter-name">
                        Тип
                    </div>
                    <div class="filter-list">
                        <span class="electric pokemon-type">Электричество</span>
                        <span class="grass pokemon-type">Трава</span>
                        <span class="fire pokemon-type">Огонь</span>
                        <span class="poison pokemon-type">Яд</span>
                        <span class="ground pokemon-type">Земля</span>
                        <span class="normal pokemon-type">Обычный</span>
                        <span class="fairy pokemon-type">Фея</span>
                    </div>
                </div>
            </aside>
            <div class="pokemon-table">
                <div class="pokemon-item">
                    <div class="pokemon-info">
                        <a href="pikachu.html">
                            <div class="pokemon-name">Пикачу</div>
                            <img src="../static/img/pikachu.png" alt="">
                        </a>
                        <div class="service-button">
                            <span class="bg-pokeball"></span>
                            <span class="bg-heart"></span>
                            <span class="bg-arrows"></span>
                        </div>
                    </div>
                    <div class="pokemon-class">
                        <span class="electric pokemon-type">Электричество</span>
                    </div>
                </div>
                <div class="pokemon-item">
                    <div class="pokemon-info">
                        <a href="eve.html">
                            <div class="pokemon-name">Иви</div>
                            <img src="../static/img/eve.png" alt="">
                        </a>
                        <div class="service-button">
                            <span class="bg-pokeball"></span>
                            <span class="bg-heart"></span>
                            <span class="bg-arrows"></span>
                        </div>
                    </div>
                    <div class="pokemon-class">
                        <span class="normal pokemon-type">Обычный</span>
                    </div>
                </div>
                <div class="pokemon-item">
                    <div class="pokemon-info">
                        <a href="eve.html">
                            <div class="pokemon-name">Джигглипуф</div>
                            <img src="../static/img/jigglypuff.png" alt="">
                        </a>
                        <div class="service-button">
                            <span class="bg-pokeball"></span>
                            <span class="bg-heart"></span>
                            <span class="bg-arrows"></span>
                        </div>
                    </div>
                    <div class="pokemon-class">
                        <span class="normal pokemon-type">Обычный</span>
                        <span class="fairy pokemon-type">Фея</span>
                    </div>
                </div>
                <div class="pokemon-item">
                    <div class="pokemon-info">
                        <a href="eve.html">
                            <div class="pokemon-name">Иви</div>
                            <img src="../static/img/eve.png" alt="">
                        </a>
                        <div class="service-button">
                            <span class="bg-pokeball"></span>
                            <span class="bg-heart"></span>
                            <span class="bg-arrows"></span>
                        </div>
                    </div>
                    <div class="pokemon-class">
                        <span class="normal pokemon-type">Обычный</span>
                    </div>
                </div>
                <div class="pokemon-item">
                    <div class="pokemon-info">
                        <a href="eve.html">
                            <div class="pokemon-name">Джигглипуф</div>
                            <img src="../static/img/jigglypuff.png" alt="">
                        </a>
                        <div class="service-button">
                            <span class="bg-pokeball"></span>
                            <span class="bg-heart"></span>
                            <span class="bg-arrows"></span>
                        </div>
                    </div>
                    <div class="pokemon-class">
                        <span class="normal pokemon-type">Обычный</span>
                        <span class="fairy pokemon-type">Фея</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="container footer">
    <div>Верстка by Lynx</div>
    <div>Код by Cat</div>
</footer>
</body>
</html>